body {
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif !important;
}

.vh-100 {
  height: 100vh !important;
}

.kingalfred-background {
  background-image: url('https://raw.githubusercontent.com/kingalfred/canvas-login-page/master/background_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;=
}

.container-small {
  margin: 0 auto;
  width: 80%;
  max-width: 300px;
}
