body {
  height: 100vh;
  background: url(background_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#login .list-group-item {
  background-color: #1b5e20;
}

#login a {
  font-family: 'Quicksand';
  color: black;
}

#login {
  background-color: #1b5e20;
  font-family: 'Quicksand';
  margin: auto;
}

#kas_logo {
  padding: 3px;
  width: 100px;
}